*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.scan{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scan .Hand{
    position: relative;
    width: 500px;
    height: 500px;
    background: url(hand_02.png);
    background-size: 500px;
}
.scan .Hand::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(hand_01.png);
    background-size: 500px;
    animation: animate 10s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
}